/* Global Variables for Light Mode */
:root {
  --bg-color: #f6f0e8;
  --text-color: #2d312b;
  --border-color: #2d312b;
}

/* Dark Mode Variables */
body.dark-mode {
  --bg-color: #171717;
  --text-color: #a7a999;
  --border-color: #a7a999;
}

.three {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  padding: 0.1px;
  display: flex;
}

.focal {
  margin-top: 150px;
  margin-left: 40px;
  color: var(--text-color);
  font-size: 100px;
  font-family: "Inter";
  font-weight: 400;
  word-wrap: break-word;
}

.focal .text {
  margin-top: 10px;
  color: var(--text-color);
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  word-wrap: break-word;
}

.focal .footer {
  margin-top: 150px;
  display: flex;
  font-size: 40px;
  color: var(--text-color);
}

.focal .footer .desc {
  margin-left: 40px;
  margin-top: 14px;
  font-size: 12px;
  color: var(--text-color);
}

.contact {
  display: flex;
  margin-top: 235px;
  margin-left: 200px;
  color: var(--text-color);
  font-size: 15px;
  font-family: "Inter";
  font-weight: 400;
  word-wrap: break-word;
}

.contact .mail {
  padding-bottom: 5px;
  border-bottom: solid var(--border-color);
  width: 310px;
  justify-content: space-between;
  display: flex;
}

.socmed {
  margin-top: 225px;
  margin-left: 35px;
  color: var(--text-color);
  font-size: 15px;
  font-family: "Inter";
  font-weight: 400;
  word-wrap: break-word;
  height: max-content;
}
.socmed .mail-mobile {
  display: none;
}

.socmed .instagram,
.socmed .youtube,
.socmed .tiktok {
  padding-bottom: 5px;
  border-bottom: solid var(--border-color);
  width: 310px;
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}

.desc-mobile {
  display: none;
}

@media (max-width: 768px) {
  .three {
    padding: 0px;
    flex-direction: column;
    width: 100%;
  }

  .focal {
    font-size: 48px;
  }

  .focal .text {
    font-size: 12px; /* Sesuaikan ukuran teks tambahan */
    margin-top: 5px;
    text-align: center;
    display: none;
  }

  .focal .footer {
    font-size: 24px; /* Sesuaikan ukuran teks footer */
    margin-top: 30px;
    display: none;
    align-items: center; /* Pusatkan konten footer */
  }

  .focal .footer .footer-brand {
    display: none;
  }
  .focal .footer .desc {
    font-size: 10px; /* Sesuaikan ukuran teks deskripsi */
    margin-top: 10px;
    text-align: center;
    display: inline;
  }

  .contact {
    align-items: center;
    text-align: center;
    margin-right: 750px;
    display: none;
  }

  .contact .mail {
    margin-bottom: 15px; /* Tambahkan jarak antar elemen */

    align-items: center;
  }

  .socmed {
    margin-top: 50px;
    align-items: center;
    text-align: center;
  }

  .socmed .instagram,
  .socmed .youtube,
  .socmed .tiktok {
    width: 90%;
    margin: 10px 0; /* Tambahkan jarak antar elemen */
  }

  .socmed .mail-mobile {
    padding-bottom: 5px;
    border-bottom: solid var(--border-color);
    width: 90%;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
  }

  .desc-mobile {
    width: 100%;
    font-size: 20px;
    margin-top: 75%;
    display: inline-flex;
    text-align: justify;
  }
}
