/* Global Variables for Light Mode */
:root {
  --bg-color: #f6f0e8;
  --text-color: #171717;
}

/* Dark Mode Variables */
body.dark-mode {
  --bg-color: #171717;
  --text-color: #a7a999;
}

.two {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  padding: 0.1px;
  display: flex;
}

.img {
  margin-top: 0;
  margin-left: 0;
  width: 57.14%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  transform: rotate(0deg);
  transform-origin: 0 0;
}

.caption {
  width: 100%;
  margin-top: 150px;
  margin-left: 395px;
  color: var(--text-color);
  font-size: 21px;
  font-family: "Inter";
  font-weight: 300;
  word-wrap: break-word;
}

.caption-mobile {
  display: none;
}

.two .caption .desktop-only {
  display: inline;
}

.two .caption .mobile-only {
  display: none;
}

.caption .other {
  margin-top: 10px;
  font-size: 14px;
  color: var(--text-color);
}

/* Media Query untuk tampilan mobile */
@media (max-width: 768px) {
  .two {
    flex-direction: column; /* Ubah arah layout menjadi kolom */
    text-align: center; /* Pusatkan teks */
    padding: 10px 20px 20px 10px;
    height: 200vh;
    width: 100%;
  }

  .img {
    height: 48.57%;
    display: grid;
    width: 85%;
    margin-left: 8%;
    margin-top: 35%;
    border-radius: 15px;
    transform: none;
    place-content: center;
  }

  .caption {
    display: none;
  }

  .caption-mobile {
    display: inline;
    padding-left: 10%;
    padding-right: 5%;
    width: 100%;
    height: 100vh;
    width: content;
    font-size: 24px;
    align-items: left;
    padding-top: 75%;
    margin-left: 0%;
    text-align: justify;
  }

  .caption .other {
    display: none;
  }
}
