/* Global Variables for Light Mode */
:root {
  --background-color: #f6f0e8;
  --text-color: #2d312b;
  --hover-color: #000000;
}

/* Dark Mode Variables */
body.dark-mode {
  --background-color: #171717;
  --text-color: #a7a999;
  --hover-color: #a7a999;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2.5rem;
}

.brand {
  color: var(--text-color);
  margin-right: 720px;
  font-size: 32px;
  font-family: "Inter";
  font-weight: 400;
  word-wrap: break-word;
}

/* Menu container styling */
.menu-container {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  display: flex;
  gap: 2.5rem;
  margin-right: 360px;
}

.menu-item {
  position: relative;
  font-size: 0.75rem;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--hover-color);
  opacity: 0;
  transform: translateY(0.5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-item:hover {
  color: var(--hover-color);
}

.menu-item:hover::after {
  opacity: 1;
  transform: translateY(0);
}

/* Toggle container styling */
.toggle-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

/* Circle styling */
.circle {
  border-radius: 50%;
  width: 0.67rem;
  height: 0.67rem;
  transition: all 0.3s ease;
}

.circle1 {
  background-color: black;
  border: 1px solid #ccc;
}

.circle2 {
  background-color: #ffffff;
}

.circle.active {
  width: 1rem;
  height: 1rem;
}

/* Hamburger Button Styling */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5rem;
  height: 1rem;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 2px;
  background-color: var(
    --text-color
  ); /* Use background-color instead of color */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Ensure transition includes background-color */
}

.hamburger.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-content {
  display: none;
}

/* Menu styles for mobile */
@media (max-width: 768px) {
  .brand {
    margin-right: auto;
  }

  .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .menu-container.open {
    transform: translateX(0);
  }

  .menu-item {
    font-size: 1rem;
  }

  .toggle-container {
    display: flex;
    margin-right: 20px;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100vw;
    height: 10%;
  }

  .header .brand {
    z-index: 3;
  }

  .header .menu-container {
    display: none;
  }

  .header .toggle-container {
    display: none;
  }

  /* Hamburger Menu */
  .hamburger-menu {
    width: 75px;
    height: 10px;
    position: relative;
    cursor: pointer;
    z-index: 2; /* Ensures the hamburger stays on top */
  }

  .hamburger-menu span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .hamburger-menu span:last-child {
    margin-bottom: 0;
  }

  .hamburger-menu.open span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger-menu.open span:nth-child(2) {
    opacity: 100;
    transform: translateY(-50%) rotate(-45deg);
  }

  .hamburger-menu.open span:nth-child(3) {
  }

  .menu-content {
    background-color: var(--bg-color-page-one);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    padding-left: 40px;
    z-index: 1;
    right: -100%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    fontweight: "400";
    transition: right 0.3s ease;
  }

  .menu-content ul {
    margin-top: 35%;
  }

  .menu-content ul li {
    margin-top: 10%;
    color: var(--text-color);
  }

  .menu-content ul li:hover {
    color: white;
  }
  .menu-content.active {
    right: 0;
  }

  .menu-content .menu-toggle {
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    padding-right: 20px;
    justify-content: end;
  }

  /* Circle styling */
  .circle {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    transition: all 0.3s ease;
  }

  .circle1 {
    margin-right: 0px;
    background-color: black;
    border: 1px solid #ccc;
  }

  .circle2 {
    background-color: #ffffff;
  }

  .circle.active {
    width: 2rem;
    height: 2rem;
  }
}
